<!DOCTYPE html>
<html lang="en">

<head>
  <title>Emitter</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
  <h1>Streaming camera</h1>
  <h2 id="peer"></h2>
  <p>Camera will start streaming as soon as a watcher will subscribe to it.</p>
  <div id="message"></div>
  <script type="text/javascript">
    function getHost() {
      return location.origin
          .replace('http://', '')
          .replace(':8080', '');
    }

    const peer = new Peer({
      host: getHost(),
      port: 8080,
      path: 'api'
    });

    const socket = io();
    const peerElement = document.querySelector('#peer');
    const msg = document.querySelector('#message');

    peer.on('open', (id) => {
      peerElement.innerHTML = `Peer: ${id}`;
      socket.emit('peer', id);
    });

    navigator.getUserMedia = navigator.getUserMedia
      || navigator.webkitGetUserMedia
      || navigator.mozGetUserMedia;
    
    peer.on('call', (call) => {
      navigator.getUserMedia({ video: true, audio: true }, (stream) => {
        call.answer(stream);
        document.querySelector('#message').innerHTML = 'Streaming has started enjoy your watch!';
      }, (err) => {
        msg.innerHTML = `Failed to capture stream: ${err}`;
      });
    });

  </script>
</body>

</html>