<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.14/peer.js"></script>
</head>

<body>
  <h1>Receiver</h1>
  <h2 id="peer"></h2>

  <video id="stream" autoplay controls></video>
  <script>
    const port = <%= port %>
    function getHost() {
      return location.origin
          .replace(/^(https?|ftp):\/\//, '')
          .replace(`:${port}`, '')
    }

    const peer = new Peer({
      host: getHost(),
      port: port,
      path: 'api'
    });
    const video = document.querySelector('#stream');
    const peerElement = document.querySelector('#peer');

    peer.on('open', (id) => {
      peerElement.innerHTML = `Peer: ${id}`;
    });

    navigator.getUserMedia = navigator.getUserMedia 
      || navigator.webkitGetUserMedia 
      || navigator.mozGetUserMedia;
    
    navigator.getUserMedia({ video: true, audio: true }, (stream) => {
      var call = peer.call('<%= id %>', stream);
      call.on('stream', (remoteStream) => {
        video.src = window.URL.createObjectURL(remoteStream);
      });
    }, (err) => {
      console.log('Failed to get local stream', err);
    });
  </script>
</body>

</html>